<header>
    <div class="display-flex align-items-center content-standard text-uppercase weight-semibold letter-spacing-xxxl">
        <a href="~/" ew-if-key="logotype" class="logotype">
            <img ew-for-src="logotype" />
        </a>
        <ew-template for-key="Menu" />
    </div>
</header>