<section class="p-standard display-block align-items-center justify-center slide-from-left" data-inviewanimation card-category>
    <div class="content-standard text-block-xxl">
        <h4 class="align-center weight-superbold letter-spacing-xxxl m-b-5" ew-for="heading"></h4>
        <div class="grid-row grid-row-sm-gap col-3 col-tablet-2 col-lgphone-1" ew-list="image">
            <div class="display-flex direction-column">
                <img class="gallery" ew-for-src="image" />
            </div>
        </div>
        <p class="m-t-5" ew-for="desc"></p>
        <div class="full-line m-t-5"></div>
    </div>
</section>