<section class="p-standard display-block align-items-center justify-center slide-from-left" data-inviewanimation card-category>
    <div class="content-standard text-block-xxl">
        <h3 class="align-center" ew-for="heading"></h3>
        <div class="align-center m-b-5" ew-list="link">
            <a class="btn btn-secondary btn-secondary-lg btn-light-green" ew-for-href="link">@Label("link")</a>
        </div>
        <div class="full-line m-b-5"></div>
        <div id="map"></div>
    </div>
</section>