<section class="hero hero-flex display-flex align-items-center justify-center" ew-if-key="page-hero">
    <div class="hero-media">
        <ew-list for-key="media">
            @if (This is MediaComponent media)
            {
                <div ew-for-background-image="$" class="hero-media_bg image flex-media-image" ew-if-not="@media.IsVideoReference"></div>
                <video ew-if="@media.IsVideoReference" muted autoplay loop preload="auto" class="hero-media_bg flex-media-video">
                    <source ew-for-src="$" type="video/mp4" />
                </video>
            }
        </ew-list>
    </div>

    <div class="content-standard display-block color-white text-block-lg align-center slide-from-left" data-inviewanimation>
        <h1 class="size-xl weight-superbold letter-spacing-xxl m-b-1" ew-for="heading"></h1>
        <p class="size-md letter-spacing-lg m-b-5" ew-for="description"></p>
        <div class="size-sm weight-semibold letter-spacing-xl">
            <a href="#contact-form" class="btn btn-primary btn-light-green m-r-1" ew-for-href="link1" ew-if-key="link1">@Label("link1")</a>
        </div>
    </div>
</section>