<section class="p-standard display-flex align-items-center justify-center slide-from-left" data-inviewanimation>
    <div class="content-standard text-block-xxl color-grey-opacity">
        <div class="align-center">
            <img class="logo-sm" ew-for-src="logo" />
        </div>
        <h3 class="align-center letter-spacing-xxxl" ew-for="heading"></h3>
        <div class="grid-row col-2 col-tablet-2 col-xlphone-1">
            <div class="display-flex direction-column">
                <p class="" ew-for="text-field-left"></p>
            </div>
            <div class="display-flex direction-column">
                <p class="" ew-for="text-field-right"></p>
            </div>
        </div>
        <div class="text-block-lg align-center m-auto">
            <p ew-for="text-field-bottom"></p>
        </div>

        <h4 class="heading align-center" ew-for="grid-heading"></h4>
        <div class="grid-row grid-row-no-gap col-4 col-xlphone-1 m-b-5" ew-list="grid-section">
            <div class="display-flex direction-column align-items-center justify-center m-auto grid-lines p-2">
                <h4 class="m-z weight-bold" ew-for="subheading"></h4>
                <p class="m-z size-xs" ew-for="subheading-desc"></p>
                <p class="m-z size-xs weight-bold" ew-for="price"></p>
                <p class="m-z size-xs" ew-for="price-desc"></p>
                <p class="m-z size-xs weight-bold" ew-for="desc"></p>
            </div>
        </div>
    </div>
</section>